site_name: "llmagent"
repo_url:
edit_uri: ""
theme:
  features:
    - navigation.tabs
  icon:
      repo: fontawesome/brands/github
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - autorefs
  #- awesome-pages
  - gen-files:
      scripts:
      - docs/auto_docstring.py
      #- docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      watch:
        - llmagent
  - section-index
nav:
  - Repo Overview: Overview.md
  - Resources: Resources.md
  - Writeups:
    - Specifying LLM Agents: writeups/specifying-llm-agents.md
  - Development:
    - GitHub CLI: development/github-cli.md
    - Clustering Vectors: development/clustering-vectors.md
    - Code Chunking: development/code-chunking.md
    - Releases from your poetry project: development/releases.md
    - Autofixing Lint Errors: development/autofix-lints.md
    - Coverage Badge: development/coverage-badge.md
    - Code Coverage: development/code-coverage.md
    - Ghost Blog Migration: development/ghost-blog-migration.md
    - Git Branch Divergence: development/git-branch-divergence.md
    - GitHub Workflow Testing: development/github-workflow-testing.md
    - Poetry Package Building: development/poetry-package-building.md
    - Pydantic Abstract Classes: development/pydantic-abstract-class.md
    - Pydantic Class As Arg: development/pydantic-class-as-arg.md
    - Pydantic DocString: development/pydantic-docstring.md
    - Pydantic Fields: development/pydantic-fields.md
    - Searching Github: development/search-github.md

  # defer to gen-files + literate-nav
  - Code Reference: reference/  #

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - markdown.extensions.attr_list:
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


