site_name: "langroid"
repo_name: langroid/langroid
site_description: "Langroid LLM App Development Framework"
repo_url: https://github.com/langroid/langroid
site_url: https://langroid.github.io/langroid

edit_uri: ""
extra_css:
  - stylesheets/extra.css

theme:
  logo: assets/orange-logo-lambda-563.png
  favicon: assets/orange-logo-lambda-563.png
  features:
    - navigation.tabs
#    - navigation.tracking
#    - navigation.sections
#    - navigation.indexes
    - toc
    - content.code.copy
    - content.code.select
    - content.code.annotate
  icon:
      repo: fontawesome/brands/github
  name: material
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - blog:
      archive: false
      blog_toc: true
      categories: false
      blog_dir: blog

  - rss:
      enabled: true
      match_path: blog/posts/.*
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
  - search
  - autorefs
  #- awesome-pages
  - gen-files:
      scripts:
      - docs/auto_docstring.py
      #- docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [.]
          options:
            members_order: source
            separate_signature: false
            filters: ["!^_"]
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
  - section-index

watch:
  - langroid

nav:
  - Home: index.md
  - Blog: blog/index.md
  - Getting Started:
    - quick-start/index.md
    - Setup: quick-start/setup.md
    - LLM interaction: quick-start/llm-interaction.md
    - Simple Chat Agent: quick-start/chat-agent.md
    - Task Delegation: quick-start/multi-agent-task-delegation.md
    - Two Agent Chat: quick-start/two-agent-chat-num.md
    - Three Agent Chat: quick-start/three-agent-chat-num.md
    - Agent with Tools/Functions: quick-start/chat-agent-tool.md
    - Three Agents, with Routing: quick-start/three-agent-chat-num-router.md
    - Agent with Retrieval: quick-start/chat-agent-docs.md
  # defer to gen-files + literate-nav
  - FAQ: FAQ.md
  - Notes-Updates:
      - Overview: notes/overview.md
      - XML-based Tools: notes/xml-tools.md
      - Async Streaming: notes/async-streaming.md

  - Examples:
    - Guide: examples/guide.md
    - Hierarchical Agent Computation: examples/agent-tree.md
    - Demos:
      - Audience Targeting: demos/targeting/audience-targeting.md
  - Tutorials:
    - Local LLM Setup: tutorials/local-llm-setup.md
    - Non-OpenAI LLMs: tutorials/non-openai-llms.md
    - SQLChatAgent: tutorials/postgresql-agent.md
  - Code/API Docs: reference/
#  - API Documentation:
#    - language_models: api/language_models_base.md


markdown_extensions:
  - footnotes
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - markdown.extensions.attr_list:
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


