name: Pytest

on:
  push:
    branches:
      - main  # Replace with your default branch name
  pull_request:
    branches:
      - main  # Replace with your default branch name

jobs:
  pytest:
    runs-on: ubuntu-latest
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_KEY }}
      GITHUB_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11  # Replace with your desired Python version

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install dependencies
      run: |
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        python -m pip install --upgrade pip
        poetry install
        pip uninstall sentence-transformers
        pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
        pip3 install sentence-transformers

    - name: Run tests with coverage
      run: |
        poetry run coverage run --source=llmagent -m pytest
        poetry run coverage report
    - name: Generate HTML coverage report
      run: |
        poetry run coverage html
    - name: Upload coverage report as artifact
      uses: actions/upload-artifact@v2
      with:
        name: htmlcov
        path: htmlcov/

